Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Mail==0.9.1
Flask-Babel==4.0.0
Flask-JWT-Extended==4.6.0
Marshmallow==3.21.3
WTForms==3.1.2
email-validator==2.1.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
ReportLab==4.2.0
openpyxl==3.1.5
qrcode==7.4.2
Pillow==10.4.0
Werkzeug==3.0.3
requests==2.32.3
